// ==> Color paletter <==

// ==> Primary color <==

:root {
  --blue-100: #b5ddfa;
  --blue-200: #84c6f6;
  --blue-300: #59b2f3;
  --blue-400: #33a1f0;
  --blue-500: #1292ee;
  --blue-600: #0f7ecd;
  --blue-700: #0d6cb0;
  --blue-800: #0b5d97;
  --blue-900: #1292ee80;
}

$blue-100: #b5ddfa;
$blue-200: #84c6f6;
$blue-300: #59b2f3;
$blue-400: #33a1f0;
$blue-500: #1292ee;
$blue-600: #0f7ecd;
$blue-700: #0d6cb0;
$blue-800: #0b5d97;
$blue-900: #1292ee80;

// ==> Second color <==

:root {
  --purple-100: #e8d6ff;
  --purple-200: #d4b3ff;
  --purple-300: #c293ff;
  --purple-400: #b175ff;
  --purple-500: #a259ff;
  --purple-600: #933dff;
  --purple-700: #8524ff;
  --purple-800: #780dff;
  --purple-900: #a259ff80;
}

$purple-100: #e8d6ff;
$purple-200: #d4b3ff;
$purple-300: #c293ff;
$purple-400: #b175ff;
$purple-500: #a259ff;
$purple-600: #933dff;
$purple-700: #8524ff;
$purple-800: #780dff;
$purple-900: #a259ff80;

// ==> Third color <==

:root {
  --red-100: #ffc7d2;
  --red-200: #ff9eb1;
  --red-300: #ff7893;
  --red-400: #ff5678;
  --red-500: #ff375f;
  --red-600: #ff1846;
  --red-700: #fb0032;
  --red-800: #e2002d;
  --red-900: #ff375f80;
}

$red-100: #ffc7d2;
$red-200: #ff9eb1;
$red-300: #ff7893;
$red-400: #ff5678;
$red-500: #ff375f;
$red-600: #ff1846;
$red-700: #fb0032;
$red-800: #e2002d;
$red-900: #ff375f80;

// ==> Four color <==

:root {
  --green-100: #91e7a7;
  --green-200: #75e190;
  --green-300: #5cdb7c;
  --green-400: #45d669;
  --green-500: #30d158;
  --green-600: #2abd4f;
  --green-700: #26aa47;
  --green-800: #229940;
  --green-900: #30d15880;
}

$green-100: #91e7a7;
$green-200: #75e190;
$green-300: #5cdb7c;
$green-400: #45d669;
$green-500: #30d158;
$green-600: #2abd4f;
$green-700: #26aa47;
$green-800: #229940;
$green-900: #30d15880;

// ==> Gradients <==

:root {
  --purple-accent: linear-gradient(180deg, rgba(150, 46, 255, 0.9) 1%, rgba(71, 5, 255, 0.8) 100%);
  --accent-purple: linear-gradient(180deg, rgba(71, 5, 255, 0.8) -1%, rgba(150, 46, 255, 0.8) 100%);

  // --gradiente-blue: linear-gradient(180deg, rgba(17, 144, 238, 0) 0%, rgba(17, 144, 238, 0.2) 100%);
  // --gradiente-purple: linear-gradient(180deg, rgba(189, 0, 255, 0.3) 0%, rgba(189, 0, 255, 0) 100%);

  // --gradiente-blue: linear-gradient(180deg, rgba(71, 5, 255, 0.9) 0%, rgba(150, 46, 255, 0.9) 100%);
  // --gradiente-purple: linear-gradient(180deg, rgba(71, 5, 255, 0.8) 0%, rgba(150, 46, 255, 0.8) 100%);
}

// ==> Themes dark and light <==

:root {
  // dark - 1
  // --grey-100: #fcf1fc;
  // --grey-200: #fcf4fc;
  // --grey-300: #ecf0f3;
  // --grey-400: #5f6a7c;
  // --grey-500: #515b6a;
  // --grey-600: #454e5b;
  // --grey-700: #3b434e;
  // --grey-800: #252a31;
  // --grey-900: #1b1f24;

  // dark - 1
  --grey-100: #fcf1fc;
  --grey-200: #fcf4fc;
  --grey-300: #ecf0f3;
  --grey-400: #8899a6;
  --grey-500: #5b7083;
  --grey-600: #3a444c;
  --grey-700: #283340;
  --grey-800: #1c2733;
  --grey-900: #17202a;

  // dark - 2
  // --grey-100: #fcf1fc;
  // --grey-200: #fcf4fc;
  // --grey-300: #ecf0f3;
  // --grey-400: #8e8e93;
  // --grey-500: #636366;
  // --grey-600: #48484a;
  // --grey-700: #3a3a3c;
  // --grey-800: #242426;
  // --grey-900: #1c1c1e;
}

:root {
  --primary-100: var(--blue-100);
  --primary-200: var(--blue-200);
  --primary-300: var(--blue-300);
  --primary-400: var(--blue-400);
  --primary-500: var(--blue-500);
  --primary-600: var(--blue-600);
  --primary-700: var(--blue-700);
  --primary-800: var(--blue-800);
  --primary-900: var(--blue-900);
}

:root {
  // light
  --first-bg: var(--grey-100);
  --second-bg: var(--grey-200);
  --third-bg: var(--grey-300);
  --title-color: var(--grey-600);
  --text-color: var(--grey-500);
  --border-color: var(--grey-300);
  --link-color: var(--primary-500);

  // dark
  // --first-bg: var(--grey-900);
  // --second-bg: var(--grey-800);
  // --third-bg: var(--grey-700);
  // --title-color: var(--grey-300);
  // --text-color: var(--grey-300);
  // --border-color: var(--grey-700);
  // --link-color: var(--primary-500);
}

.box {
  width: 300px;
  height: 120px;
  background-color: var(--second-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid var(--border-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--bradius);
}
